<html>
  <head>
    <title>éditer uon potin</title>
  </head>
  <body>
    <h1>Édite ton potin !</h1>
    <p>Change ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/<%=id%>/edit/' method='POST'>
      Saisis ici ton nouveau nom :  <input type='text' name='gossip_author'/><br/>
      Balance ton nouveau potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
    <br/>
    <br/>
    <a href="/">Ou revenir à la page d'acceuil</a>
  </body>
</html>